/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.image-gallery {
    
    /* START SLICK CUSTOM STYLES */
    .slide {
        img {
            max-height: 600px;
            margin: auto;

        }
        iframe {
            height: 600px;
            width: 100%;
        }
    }
}


.wrap {
  width: 1240px;
}
.side_by_side {
    width:50%;
    min-height: 620px;
}